.skills-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.skill-links {
  padding-inline-end: 2em;
}

.cloud-map-link {
  padding-bottom: 2em;
  padding-inline-end: 2em;
}

.skills-progress-bar-container {
  display: flex;
  flex-direction: column;
}

.skill-progress-bar {
  height: 0.4em;
  border-radius: 50px;
  background-color: var(--primary-colour);
}

.skill-name-and-progress {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.progress-bar-cell {
  width: 100%;
  margin-inline-start: 2em;
}

.skill-name-cell {
  min-width: 8em;
  max-width: 8em;
  margin-inline-end: 2em;
}

.skills-keys-definition {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill-key {
  display: flex;
  align-items: center;
}

.circle {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  margin: 10px;
}

.key-colour-1 {
  background-color: var(--primary-colour);
}

.key-colour-2 {
  background-color: var(--link-colour);
}

.key-colour-3 {
  background-color: var(--contrast-highlight-colour);
}
