:root {
  /* Colour definitions */
  --dark-colour: #171717;
  --light-colour: #ffffff;
  --hover-background-rgb: 69, 69, 69;
  --light-blue-grey-colour: #f1f0fd;
  --light-pink-colour: #ffccfc;
  --highlight-pink-colour: #f3a8ee;
  --dark-purple-colour: #51045a;
  --highlight-purple-colour: #760882;
  --dark-blue-colour: #250a40;
  --light-grey-colour: #d4d4d4;
  --dark-grey-colour: #444444;
}

body {
  margin: 0;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.section-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 70px;
}

.dark {
  --background-colour: var(--dark-colour);
  --primary-colour: var(--light-colour);
  --secondary-background-colour: var(--dark-blue-colour);
  --tertiary-background-colour: var(--dark-purple-colour);
  --highlight-colour: var(--highlight-purple-colour);
  --link-colour: var(--light-pink-colour);
}

.light {
  --background-colour: var(--light-colour);
  --primary-colour: var(--dark-colour);
  --secondary-background-colour: var(--light-blue-grey-colour);
  --tertiary-background-colour: var(--light-pink-colour);
  --highlight-colour: var(--highlight-pink-colour);
  --link-colour: var(--dark-purple-colour);
}

@media (prefers-color-scheme: dark) {
  .auto {
    --background-colour: var(--dark-colour);
    --primary-colour: var(--light-colour);
    --secondary-background-colour: var(--dark-blue-colour);
    --tertiary-background-colour: var(--dark-purple-colour);
    --highlight-colour: var(--highlight-purple-colour);
    --link-colour: var(--light-pink-colour);
  }
}

@media (prefers-color-scheme: light) {
  .auto {
    --background-colour: var(--light-colour);
    --primary-colour: var(--dark-colour);
    --secondary-background-colour: var(--light-blue-grey-colour);
    --tertiary-background-colour: var(--light-pink-colour);
    --highlight-colour: var(--highlight-pink-colour);
    --link-colour: var(--dark-purple-colour);
  }
}

.application {
  background-color: var(--background-colour);
  color: var(--primary-colour);
}

.icon-fill {
  fill: var(--primary-colour);
}

.icon-background-fill {
  fill: transparent;
}

.icon-stroke {
  stroke: var(--primary-colour);
}
.icon-padding {
  padding: 5px;
}

@keyframes from-right-slide-in-animation {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.from-right-slide-in-animation {
  animation: from-right-slide-in-animation 0.3s ease;
}

@keyframes to-right-slide-out-animation {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -300px;
    opacity: 0;
  }
}

.to-right-slide-out-animation {
  animation: to-right-slide-out-animation 0.3s ease;
}

.new-page-link {
  color: var(--link-colour);
  text-decoration: none;
  font-weight: bold;
}

.new-page-link:hover {
  text-decoration: underline;
}
.inline-start-margin {
  margin-inline-start: 5px;
}
