:root {
  /* Colour definitions */
  --dark-colour: #171717;
  --light-colour: #ffffff;
  --hover-background-rgb: 69, 69, 69;
  --light-blue-grey-colour: #f1f0fd;
  --light-pink-colour: #ffccfc;
  /* --dark-purple-colour: #300c34; */
  /* --dark-purple-colour: #380c34; */
  --dark-purple-colour: #51045a;
  /* --dark-blue-colour: #0b0842; */
  /* --dark-blue-colour: #100c84; */
  --dark-blue-colour: #250a40;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.section-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 70px;
}

.dark {
  --background-colour: var(--dark-colour);
  --primary-colour: var(--light-colour);
  --secondary-background-colour: var(--dark-blue-colour);
  --tertiary-background-colour: var(--dark-purple-colour);
}

.light {
  --background-colour: var(--light-colour);
  --primary-colour: var(--dark-colour);
  --secondary-background-colour: var(--light-blue-grey-colour);
  --tertiary-background-colour: var(--light-pink-colour);
}

@media (prefers-color-scheme: dark) {
  .auto {
    --background-colour: var(--dark-colour);
    --primary-colour: var(--light-colour);
    --secondary-background-colour: var(--dark-blue-colour);
    --tertiary-background-colour: var(--dark-purple-colour);
  }
}

@media (prefers-color-scheme: light) {
  .auto {
    --background-colour: var(--light-colour);
    --primary-colour: var(--dark-colour);
    --secondary-background-colour: var(--light-blue-grey-colour);
    --tertiary-background-colour: var(--light-pink-colour);
  }
}

.application {
  background-color: var(--background-colour);
  color: var(--primary-colour);
}

.icon-fill {
  fill: var(--primary-colour);
}

.icon-background-fill {
  fill: transparent;
}

.icon-stroke {
  stroke: var(--primary-colour);
}
.icon-padding {
  padding: 5px;
}

@keyframes from-right-slide-in-animation {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.from-right-slide-in-animation {
  animation: from-right-slide-in-animation 0.3s ease;
}

@keyframes to-right-slide-out-animation {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -300px;
    opacity: 0;
  }
}

.to-right-slide-out-animation {
  animation: to-right-slide-out-animation 0.3s ease;
}
