.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--background-colour);
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
