.themes {
  border: solid 1px var(--primary-colour);
  border-radius: 50px;
  display: flex;
  width: fit-content;
}

.theme-button {
  border: solid 1px var(--primary-colour);
  border-radius: 50px;
  margin: 10px;
  background-color: var(--background-colour);
  color: var(--primary-colour);
  display: flex;
  align-items: center;
}
